body{background: #CCCC99; font: italic 16px serif;}
#intro, #texto{
	font-family: sans-serif;
	font-size:18px; 
	color: #990000;
}
#datosProducto{
	border:3px solid #990000;
	float:left;
	margin-left: 30px;
	background:#CC6633;
	font-weight: bold;
	padding: 15px;
}
#envoltura {
    display:table;
}
         
#contenido {
    display:table-row;
}
         
#grupo1, #grupo2, #grupo3 {
    display:table-cell;
    padding:10px;
}
#cod, #cantidad, #total{
	float:right;
	margin-left:5px;
}
label, select{
	float:left;
	clear:right;
}
#botones{
	float:right;
}
#seguir{
	float:left;
	margin-right:5px;
}
#salir{
	float:left
}
#total{
	float:left;
	clear:right;
}
