body{
	background: #CCCC99;
	font: italic 16px serif;
	}
#intro, #texto{
	font-family: sans-serif;
	font-size:18px; 
	color: #990000;
}
#bpor{
	border:3px solid #990000;
	float:left;
	margin-left: 30px;
	background:#CC6633;
	font-weight: bold;
	padding: 15px;
}
#envoltura {
    display:table;
}
         
#contenido {
    display:table-row;
}
         
#grupo1 {
    display:table-cell;
    padding:10px;
}
#fecha, #nombre{
	float:right;
	margin-left:5px;
}
label, select{
	float:left;
	clear:right;
}
#buscar{
	float: right;
}
#tabla {
	padding: 5px;
	font-size: 18px;
	background-color: #CC6633;
	text-align: center;
	border-style: solid;
	border-color: #990000;
	font-family: Trebuchet MS, Arial;
	padding: 10px;
}
th, td{
	border-collapse:collapse;
	border: 1px solid #990000;
}
